/* VARIABLES */

:root{
    /* --main-text-color : #fff; */
    /* --main-bg-color : #fff; */
    /* --main-font-size : 16px; */
    /* --main-font-weight : 400; */
    /* --main-line-height : 1.5; */
  }
  
  /* Fonts */
  /* oranienbaum-regular - latin_cyrillic */
  @font-face {
    font-family: "Oranienbaum";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/oranienbaum-v15-latin_cyrillic-regular.woff2") format("woff2"),
         url("../fonts/oranienbaum-v15-latin_cyrillic-regular.woff") format("woff");
  }
  /* exo-2-300 - latin_cyrillic */
  @font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/exo-2-v19-latin_cyrillic-300.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/exo-2-v19-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-2-regular - latin_cyrillic */
  @font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/exo-2-v19-latin_cyrillic-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/exo-2-v19-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-2-500 - latin_cyrillic */
  @font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/exo-2-v19-latin_cyrillic-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/exo-2-v19-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-2-600 - latin_cyrillic */
  @font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/exo-2-v19-latin_cyrillic-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/exo-2-v19-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-2-700 - latin_cyrillic */
  @font-face {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/exo-2-v19-latin_cyrillic-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/exo-2-v19-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* manrope-regular - latin */
  @font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    src: local(""),
         url("../fonts/manrope-v12-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/manrope-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-300 - latin */
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/roboto-v30-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* Fonts */
  
  /* GENERAL */
  *{
    box-sizing: border-box;
  }
  html{
    height: 100%;
  }
  
  img{
    display: block;
    height: auto;
  }
  a{
    display: inline-block;
    text-decoration: none;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Exo 2", "Times New Roman",serif;
    /* font-size: 16px; */
    /* font-weight: 400; */
    /* line-height: var(--main-line-height); */
  }
  
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  /* CONTAINER */
  
  .container{
    /* max-width: your-size-here; */
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  /* STICKY-FOOTER */
  .site-main{
    flex-grow: 1;
  }
  
  
  