/* VARIABLES */


:root {
  --hd-list-color: #201F1E;
  --link-bg-color: #0A7F2E;
  --ser-text-color: #8A8A8A;
  --text-color-white: #FFFFFF;
  --ser-rotate-title-cl: #8A8A8A;
  --text-color-bbb: #BBBBBB;
  --text-color-201F1E: #201F1E;
  --text-color-black: #000000;
  --text-color-82: #828282;
  --text-color-3E: #3e3e3e;
  --text-color-77: #777777;
  --title-color-1A133B: #1A133B;
  --text-color-9997A2: #9997A2;
  --time-color-9c: #9c9c9c;
  --title-color35: #353535;

}


/* Fonts */
/* oranienbaum-regular - latin_cyrillic */
@font-face {
  font-family: "Oranienbaum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oranienbaum-v15-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/oranienbaum-v15-latin_cyrillic-regular.woff") format("woff");
}

/* exo-2-300 - latin_cyrillic */
@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/exo-2-v19-latin_cyrillic-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/exo-2-v19-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* exo-2-regular - latin_cyrillic */
@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/exo-2-v19-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/exo-2-v19-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* exo-2-500 - latin_cyrillic */
@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/exo-2-v19-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/exo-2-v19-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* exo-2-600 - latin_cyrillic */
@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/exo-2-v19-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/exo-2-v19-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* exo-2-700 - latin_cyrillic */
@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/exo-2-v19-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/exo-2-v19-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-regular - latin */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/manrope-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/manrope-v12-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Fonts */

/* GENERAL */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Exo 2", "Times New Roman", serif;
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* line-height: var(--main-line-height); */
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1690px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}
/* header start*/
.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header-inner {
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.header-inner__btn {
  background-color: transparent;
  border: none;
  margin-right: 60px;
  cursor: pointer;
}
.header-inner__list {
  display: flex;
  margin-left: 70px;
}
.header-inner__list-item {
  margin-left: 15px;
}
.header-inner__list-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--hd-list-color);
}
.header-inner__list-link:hover {
color: var(--link-bg-color);
}
.header-inner__list-link:hover::before {
opacity: 1;
}
.header-inner__list-link:hover::after {
opacity: 1;
}

.header-inner__list-link::before,
.header-inner__list-link::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 36px;
  background-repeat: no-repeat;
  opacity: 0;
}
.header-inner__list-link::before {

  margin-right: 4px;
background-image: url("../images/header-hover-border-left.svg");

}
.header-inner__list-link::after {
  margin-left: 4px;
  background-image: url("../images/header-hover-border-right.svg");
}
.header-inner__form {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-inner__input-search {
  padding: 15px 0;
  width: 0px;
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color-white);
  transition: width 0.3s linear  ;

}
.header-inner__input-search--active {
  width: 200px;
  padding: 15px ;
}
.header-inner__btn-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header-inner__input-search:focus {
  border-bottom: 1px solid #000;
}
.header-inner__btn-ask {
  padding: 15px 37px;
  border: 1px solid #FFFFFF;
  font-weight: 400;
font-size: 16px;
line-height: 19px;
color: var(--text-color-white);
margin-left: 40px;
}
/* header finish */

/* services section */


.services{
  padding-top: 162px;
  padding-bottom: 107px;
}
.services__box{
  background-image: url(../images/services-img-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 640px) calc(50% + 240px);
}


.services {
  padding-top: 162px;
  padding-bottom: 107px;
}

.services__theme {

  margin: 0;
  margin-bottom: 71px;
  padding-left: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--link-bg-color);
  border-left: 3px solid var(--link-bg-color);
}
.services__list{
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: center;
}
.services__item{
  position: relative;
  width: 390px;
  margin-right: 29px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  box-shadow: 0px 0px 30px #0000001a;
  border: 2px dashed transparent;
  transition: border 0.5s ease, box-shadow 0.5s, transform 0.5s ease ;
}
.services__item:nth-child(2) .services__info{
  margin-bottom: 60px;
}
.services__item:nth-child(4){
  margin-right: 0;
}
.services__item:nth-child(5){
  margin-bottom: 0;
}
.services__item:nth-child(6){
  margin-bottom: 0;
}
.services__item:nth-child(7){
  margin-bottom: 0;
}
.services__item::before{
  content: "";
  display: block;
  margin-bottom: 20px;
  background-image: url(../images/services-web.svg);
  background-repeat: no-repeat;
  width: 67px;
  height: 67px;
}
.services__item:nth-child(2)::before{
  background-image: url(../images/services-mobile.svg);
}
.services__item:nth-child(3)::before{
  background-image: url(../images/services-design.svg);
}
.services__item:nth-child(4)::before{
  background-image: url(../images/services-audit.svg);
}
.services__item:nth-child(5)::before{
  background-image: url(../images/services-bpr.svg);
}
.services__item:nth-child(6)::before{
  background-image: url(../images/services-technic-document.svg);
}
.services__item:nth-child(7)::before{
  background-image: url(../images/services-infograrika.svg);
}
.services__item::after{
  content: "";
  display: block;
  margin-left: auto;
  background-image: url(../images/services-after-rectangle.svg);
  background-repeat: no-repeat;
  width: 85px;
  height: 85px;
}

.services__item:nth-child(2)::after{
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.services__info{
  margin: 0;
  margin-bottom: 26px;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  color: var(--hd-list-color);
}
.services__info::before{
  position: absolute;
  top: 43px;
  right: 46px;
  content: "";
  display: block;
  opacity: 0;
  padding: 13px 12px;
  border: none;
  border-radius: 50%;
  background-image: url(../images/services-top-right-corner-icon.svg);
  background-color: #fff;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.212);
  background-position: calc(50%) calc(50%);
  background-repeat: no-repeat;
  transition: all 0.5s ease;
}
.services__item:hover{
  border: 2px dashed #0A7F2E;
  box-shadow: 0px 0px 20px rgba(10, 127, 46, 0.2);
  transform: translateY(-15px);
}
.services__item:hover .services__info::before{
  opacity: 1;
  transition: all 0.5s;
}

/* services section  finish*/

/* About */

.about {
  padding-top: 162px;
  padding-bottom: 67px;
  /* background-color: #E5E5E5; */
}

.about__title {
  margin-bottom: 71px;
  padding-left: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  border-left: 3px solid #0A7F2E;
  color: var(--link-bg-color);
}

.about__wrapper {
  position: relative;
  width: 770px;
  margin-bottom: 20px;
  z-index: 1;

}


.about__wrapper::after {
  position: absolute;
  bottom: -30px;
  right: -30px;
  z-index: -1;
  content: "";
  width: 330px;
  height: 185px;
  background-color: #CCCCCC;
}



/* .about-top, */
.about__text-box{
  display: flex;
}
.about-top{
  margin-bottom: 20px;
}
.about-top .about__text-info:first-child{
  margin-right: 40px;
}
.about-bottom .about__text-info:first-child{
  margin-right: 40px;
}

.about__text-info{
  width: 190px;
}






.about__text {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 40px;
  line-height: 72px;
  color: var(--link-bg-color);
}

.about__desc{
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #666666;
}


/* Start Connect Section */
#connect {
  padding: 140px 0 60px 0;
  background-color: #E5E5E5;
}

.connect-main-part {
  display: flex;
}

.connect-part {
  margin-right: 38px;
}

.connect-part__form-box {
  width: 810px;
}

.connect-part__label,
.connect-part__comment-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #8B8B8B;
}

.connect-part__input,
.connect-part__comment {
  margin-bottom: 40px;
  padding: 20px;
  width: 810px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #8B8B8B;
  border: 1px solid #E7E7E7;
}

.connect-part__input {
  margin-top: 15px;
}

.connect-part__input-box .connect-part__label input {
  width: 375px;
  margin-right: 60px;
}

.connect-part__input-box .connect-part__label:nth-child(2) input {
  margin-right: 0;
}

.connect-part__input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connect-part__comment {
  margin-bottom: 60px;
  resize: none;
}

.connect-part__comment-text {
  margin: 0 0 15px 0;
}

.connect-part__btn {
  padding: 14px 46px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--text-color-white);
  background-color: var(--link-bg-color);
  border: none;
}

.schedule-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.schedule-info {
  width: 630px;
  padding: 30px 30px 30px 20px;
  background-color: var(--text-color-white);
  box-shadow: 0px 0px 30px #0000001a;
}

.schedule-info__boxes {
  display: flex;
  align-items: center;
}

.schedule-info__box {
  width: 290px;
  margin-bottom: 43px;
}

.schedule-info__title {
  margin: 0 0 15px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--link-bg-color);
}

.schedule-info__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999988;
  text-decoration: none;
}

.schedule-links__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.schedule-links__item:not(:last-child) {
  margin-right: 25px;
}

.schedule-links__days-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.schedule-links__days-item {
  display: flex;
  justify-content: center;
  width: 30px;
  padding: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-color-white);
  background-color: #0A7F2E;
  box-shadow: 0px 4px 4px #0a7f2e40;
  cursor: pointer;
}
.schedule-links__days-item:not(:last-child) {
  margin-right: 15px;
}

.schedule-links__days-item:nth-child(6),
.schedule-links__days-item:nth-child(7) {
  background-color: #CCCCCC;
  box-shadow: 0px 4px 4px #79797940;
}

.connect-info__location {
  margin-top: 60px;
  border: none;
}

/* End of Connect Section */